<div class="row">
    <div class=" m-auto grid-margin stretch-card">
        <div class="card mt-10">
            <div class="card-body">
                <div *ngIf="provider">
                    <form action="" class="">
                        <!-- w-full p-1 justify-center mx-auto  columns-2 sm:columns-1 -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating flex justify-between m-1">
                                    <img class=" w-14 h-14  rounded-full" src="{{basicUrl}}/{{provider.image}}" alt="">
                                    <img class=" w-36 h-14" src="{{basicUrl}}/{{provider.cover}}" alt="">
                                </div>
                                <div class="form-floating m-1">
                                    <input type="number" class="form-control out" id="floatingInputGrid"
                                        placeholder="Id" value="{{provider.id}}" readonly>
                                    <label for="floatingInputGrid">Id</label>
                                </div>
                                <div class="form-floating m-1">
                                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                        value="{{provider.name}}">
                                    <label for="floatingInputGrid">Name</label>
                                </div>
                                <div class="form-floating m-1">
                                    <input type="text" class="form-control" id="floatingInputGrid"
                                        onKeyPress="if(this.value.length==10) return false;" placeholder="phone"
                                        value="{{provider.phone}}">
                                    <label for="floatingInputGrid">phone</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating m-1">
                                    <input type="text" class="form-control" id="floatingInputGrid" placeholder="Email"
                                        value="{{provider.email}}">
                                    <label for="floatingInputGrid">Email</label>
                                </div>
                                <div class="form-floating m-1">
                                    <input type="text" class="form-control" id="floatingInputGrid"
                                        placeholder="location" value="{{provider.location}}">
                                    <label for="floatingInputGrid">location</label>
                                </div>
                                <div class="form-floating m-1">
                                    <input type="text" class="form-control" id="floatingInputGrid"
                                        placeholder="description" value="{{provider.description}}">
                                    <label for="floatingInputGrid">description</label>
                                </div>
                                <div class="flex justify-center items-center">
                                    <button type="button" class="btn border mt-3 border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px]">Edit</button>
                                </div>
                            </div>
                        </div>


                        <!-- add button and model
                                <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                                    <button type="submit" class="addNew" data-toggle="modal"
                                        data-target="#exampleModal">Add
                                        Provider</button> -->

                        <!-- Modal -->
                        <!-- <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{resMsg}}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button"
                                                        class="btn border transition ease-in-out border-white text-white  bg-[#90c8ac] hover:bg-[#76a38d]"
                                                        data-dismiss="modal">
                                                        Ok
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>