<div class="flex items-center justify-between w-full container mb-12">
    <div class="text-4xl font-extrabold text-[#74b9af]">
        All Categorys
    </div>
    <div class="mr-[200px]">
        <button type="button" class="ml-4 btn btn-light" (click)="addCategorysDiv()">Add</button>
    </div>
</div>
<div class="grid">
    <div
        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
        <div class="hidden md:block"></div>
        <div class="hidden md:block">
            ID
        </div>
        <div>Name</div>
        <div></div>
        <div>Details</div>
        <div class="hidden md:block"></div>
    </div>
    <div *ngIf="isAddCatigorie" class=" items-center py-3 px-6 md:px-8">
        <form action="" class="border-b" [formGroup]="addCategorysForm" (ngSubmit)="addCategorys()" enctype="multipart/form-data">
            <div class="grid grid-container grid-template  w-full p-1 justify-center mt-7 mx-auto mb-1">
                <div class="form-floating m-1 grid-item">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <label for="floatingInputGrid">Name</label>
                </div>
                <div class=" m-1 grid-item">
                    <input type="file" (change)="onFileChange($event)" #file class="form-control mt-[11px]" placeholder="image" >
                </div>
            </div>
            <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                <button type="submit" [disabled]="!addCategorysForm.valid"
                    class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-36">Add Category</button>
            </div>
        </form>
    </div>
    <!-- ngFor -->
    <div *ngIf="Categorys">
        <div *ngFor="let Category of Categorys">

            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                <div class="hidden md:block"></div>
                <div class="items-center hidden md:block">
                    {{Category.id}}
                </div>
                <div class="flex items-center">
                    {{Category.name}}
                </div>
                <div>
                </div>
                <div class="flex items-center">
                    <!-- Details button -->
                    <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="details(Category.id)">
                        <i class="fas fa-angle-down cursor-pointer" *ngIf="!isShown[Category.id]"></i>
                        <i class="fas fa-angle-up cursor-pointer" *ngIf="isShown[Category.id]"></i>
                    </div>
                </div>
                <div class="hidden md:block">
                </div>
            </div>
            <div *ngIf="isShown[Category.id]">
                <form action="" class="border-b">
                    <div class="flex w-ful p-1 justify-center mt-7 mx-auto mb-1">
                        <div class="form-floating m-1">
                            <input type="number" class="form-control out" id="floatingInputGrid" placeholder="Id"
                                value="{{Category.id}}">
                            <label for="floatingInputGrid">Id</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{Category.name}}">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1 w-1/4">
                            <!-- <input type="text" class="form-control" id="floatingInputGrid" placeholder="image"
                                value="{{Category.image}}"> -->
                                <!-- {{Category.image}} -->
                                <img src="https://api.brightlifeapp.com/public/{{Category.image}}" alt="">
                            <!-- <label for="floatingInputGrid">Email</label> -->
                        </div>
                    </div>
                    <div class="flex items-center justify-between customContainer  px-4 py-2 ">
                        <!-- <button type="button" class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px]" (click)="edit(supplier.id)">Edit</button> -->
                        <!-- <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 " (click)="delete(supplier.id)">Delete</button> -->
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>