<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->
<div class="flex w-full">
    <!-- dashboard  -->
    <div class="flex flex-col bg-[#0f172a] text-center text-white  h-[100vh] sm:h-auto" [ngClass]="{'w-[280px]': !isShown, 'w-[36px]': isShown}">
        <div class="flex flex-col dashbutton mt-3 cursor-pointer" (click)="isShown=!isShown"> 
            <i class="fa-solid fa-bars text-2xl"></i>
        </div>
        <div class="flex flex-col " [ngClass]="{'block': !isShown, 'hidden': isShown}" >
            <div class="relative p-4 ">
                <img class="w-28 h-28 m-auto " src="../../../assets/App icon1.png" alt="">
            </div>
            <div class="navbar-brand truncate sm:text-xl sm:w-[143px]" >{{userName}}</div>
            <ul class="nav text-left flex flex-col mx-[3%]" ui-nav>
                <li class="hidden-folded mb-1">
                    <a href="">
                        <small class="text-muted">Main</small>
                    </a>
                </li>
                <a routerLink="/protected/dashboard" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]">
                        <i class="fa-solid fa-users mr-2"></i>
                        <span class="nav-text text-lg">dashboard</span>
                    </li>
                </a>
                <a routerLink="/protected/users" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px] ">
                        <i class="fa-solid fa-users mr-2"></i>
                        <span class="nav-text text-lg">users</span>
                    </li>
                </a>
                <a routerLink="/protected/providers" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]" >
                        <i class="fa-solid fa-truck mr-2"></i>
                        <span class="nav-text  text-lg">providers</span>
                    </li>
                </a>
                <a routerLink="/protected/categories" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]">
                        <i class="fa-solid fa-bars-staggered mr-2"></i>
                        <span class="nav-text  text-lg">categories</span>
                    </li>
                </a>
                <a routerLink="/protected/services" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]">
                        <i class="fa-light fa-display mr-2"></i>
                        <span class="nav-text  text-lg">services</span>
                    </li>
                </a>
                <a routerLink="/protected/orders" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]">
                        <i class="fa-solid fa-cart-shopping mr-2"></i>
                        <span class="nav-text  text-lg">orders</span>
                    </li>
                </a>
                <a (click)="logOut()" class="mb-1">
                    <li class="hidden-folded aside_data flex items-center sm:text-[10px]">
                        <i class="fas fa-sign-out mr-2"></i>
                        <span class="nav-text  text-lg">logOut</span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <!-- component  -->
    <div class="flex flex-col w-full ">
        <router-outlet></router-outlet>
    </div>
</div>