<div class="overflow-hidden">
    <nav class="flex flex-row col-lg-12 col-12 p-0 fixed-top bg-white sm:justify-between sm:px-4">
        <div class="text-center items-center h-[70px] justify-center sm:w-11 pt-[14px]  "
        [ngClass]="{'lg:mx-1': isShown, 'lg:mx-6': !isShown}" >
            <div class="flex flex-wrap" [ngClass]="{'block': leftToggle, 'hidden': !leftToggle}">
                <img class="w-12" src="../../../assets/App icon1.png" alt="">
                <h1 class="text-3xl pt-1" [ngClass]="{'block': !isShown, 'hidden': isShown}">Bright Life</h1>
            </div>
            <a href="" class="inline-block" [ngClass]="{'block': rightToggle, 'hidden': !rightToggle}">
                <img class="w-12" src="../../../assets/App icon1.png" alt="">
            </a>
        </div>
        <div class=" lg:px-6 sm:w-auto text-[#9c9fa6] h-[70px] flex items-stretch ">
            <!-- burger button -->
            <button class="sm:px-1 pl-1 pr-5 border-none self-center navbar-toggler text-inherit"
                (click)="isShown=!isShown" [ngClass]="{'block': leftToggle, 'hidden': !leftToggle}">
                <i class="fa-solid fa-bars text-2xl"></i>
            </button>
            <div></div>
            <ul class="flex items-center">
                <li class="sm:static flex ml-6 mr-2 items-center">
                    <div class="relative w-8 h-8 sm:mx-3 user_image">
                        <img src="../../../assets/face1.jpg" alt="" class="rounded-[100%] w-8 h-8">
                    </div>
                    <div class="user_name ml-3" [ngClass]="{'block': leftToggle, 'hidden': !leftToggle}">
                        <p>
                            {{userName}}
                        </p>
                    </div>
                </li>
                <li class="sm:static flex ml-6 mr-2 email items-center">
                    <i class="fa-regular fa-envelope"></i>
                    <div class="user_name ml-3" [ngClass]="{'block': leftToggle, 'hidden': !leftToggle}">
                        <p>
                            {{userEmail}}
                        </p>
                    </div>
                </li>
                <li class="sm:static ml-6 mr-2 logOut items-center">
                    <i class="fa-solid fa-arrow-right-from-bracket cursor-pointer hover:text-[#b66dff]" (click)="logOut()"></i>
                </li>
            </ul>
            <button class="sm:px-1 pl-1 pr-5 border-none self-center navbar-toggler text-inherit ml-4 mr-2"
                (click)="isShown=!isShown" [ngClass]="{'block': rightToggle, 'hidden': !rightToggle}">
                <i class="fa-solid fa-bars text-2xl sm:text-xl"></i>
            </button>
        </div>
    </nav>
    <div class="pt-[70px] flex flex-row px-0 w-full m-auto ">
        <nav class="sidebar sidebar-offcanvas bg-blue-600 flex sm:w-[253px]  w-[293px] overflow-hidden" id=""
            [ngClass]="{'R_0': !isShown ,'w_54': isShown }" >
            <div class="flex flex-col bg-white text-center text-[#0f172a]  h-[100vh] sm:h-auto  w-full"
            [ngClass]="{'w-[55px]': isShown}">
                <div class="flex flex-col ">
                  <div class="flex px-9 py-3 items-center mb-3" [ngClass]="{'block': !isShown, 'hidden': isShown}">
                    <div class="relative w-14 h-11 sm:mx-3 user_image">
                        <img src="../../../assets/face1.jpg" alt="" class="rounded-[100%]">
                    </div>
                    <div class="navbar-brand truncate "
                        >{{userName}}</div>
                  </div>
                    <ul class="nav text-left flex flex-col  ml-6 mr-6"  [ngClass]="{'m-auto': isShown}" ui-nav>
                        <a routerLink="/protected/dashboard" class="mb-2" [ngClass]="{'mt-7': isShown ,  'text-[#b991c2]' : active == 1 }" (click)="setActive(1)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center justify-between ">
                                <span class="nav-text "
                                    [ngClass]="{'block': !isShown, 'hidden': isShown}">dashboard</span>
                                    <i class="fa-solid fa-house "></i>
                            </li>
                        </a>    
                        <a routerLink="/protected/users" class="mb-2" [ngClass]="{'mt-7': isShown , 'text-[#b991c2]' : active == 2 }" (click)="setActive(2)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center  justify-between ">
                                <!-- [ngClass]="{'hover:bg-slate-600': !isShown}" -->
                                <span class="nav-text " [ngClass]="{'block': !isShown, 'hidden': isShown}">users</span>
                                <i class="fa-solid fa-users "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/providers" class="mb-2" [ngClass]="{'mt-7': isShown , 'text-[#b991c2]' : active == 3 }" (click)="setActive(3)">
                            <li
                                class="hidden-folded aside_data  rounded cursor-pointer flex items-center  justify-between">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">providers</span>
                                <i class="fa-solid fa-truck "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/finance" class="mb-2" [ngClass]="{'mt-7': isShown , 'text-[#b991c2]' : active == 6 }" (click)="setActive(6)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer  flex items-center  justify-between">
                                <!-- <i class="fa-light fa-display "></i> -->
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">finance</span>
                                <i class="fa-solid fa-charging-station "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/categories" class="mb-2" [ngClass]="{'mt-7': isShown, 'text-[#b991c2]' : active == 4 }" (click)="setActive(4)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center  justify-between">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">categories</span>
                                <i class="fa-solid fa-bars-staggered "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/services" class="mb-2" [ngClass]="{'mt-7': isShown , 'text-[#b991c2]' : active == 5 }" (click)="setActive(5)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer  flex items-center  justify-between">
                                <!-- <i class="fa-light fa-display "></i> -->
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">services</span>
                                <i class="fa-solid fa-charging-station "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/orders" class="mb-2" [ngClass]="{'mt-7': isShown, 'text-[#b991c2]' : active == 7 }" (click)="setActive(7)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center justify-between ">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">orders</span>
                                <i class="fa-solid fa-cart-shopping "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/FAQs" class="mb-2" [ngClass]="{'mt-7': isShown, 'text-[#b991c2]' : active == 8 }" (click)="setActive(8)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center justify-between ">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">FAQs</span>
                                <i class="fa-solid fa-cart-shopping "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/reviews" class="mb-2" [ngClass]="{'mt-7': isShown, 'text-[#b991c2]' : active == 9 }" (click)="setActive(9)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center justify-between ">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">reviews</span>
                                <i class="fa-solid fa-cart-shopping "></i>
                            </li>
                        </a>
                        <a routerLink="/protected/promocode" class="mb-2" [ngClass]="{'mt-7': isShown, 'text-[#b991c2]' : active == 10 }" (click)="setActive(10)">
                            <li
                                class="hidden-folded aside_data rounded cursor-pointer flex items-center justify-between ">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">promocode</span>
                                <i class="fa-solid fa-cart-shopping "></i>
                            </li>
                        </a>
                        <a (click)="logOut()" class="mb-2 hover:text-[#b66dff]" [ngClass]="{'mt-7': isShown}">
                            <li
                                class="hidden-folded aside_data cursor-pointer rounded flex items-center justify-between">
                                <span class="nav-text  "
                                [ngClass]="{'block': !isShown, 'hidden': isShown}">logOut</span>
                                <i class="fas fa-sign-out "></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-panel w-full bg-[#f2edf3]"> 
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>

<!-- <div>
    <svg id = "svgelem" width = "300" height = "300" xmlns = "http://www.w3.org/2000/svg">
        <polygon points="100,10 40,180 190,60 10,60 160,180" fill="blue"/>
     </svg>
</div>
     -->

   