<!-- <p>accounting works!</p>
{{id}} -->
<div class="content-wrapper">
    <table style="width:100% " class="tableBorder text-center">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Value</th>
            <th>User</th>
            <th>Status</th>
            <th>Zoon</th>
            <th>Edit</th>
        </tr>

        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.last_name}}</td>
            <td> {{user.phone}}</td>
            <td> {{user.email}}</td>
            <td>
                lima
                <!-- <img src="{{basicUrl}}/{{user.image}}" alt=""> -->
            </td>
            <td> <i class="fa-solid fa-bars-staggered text-[#bba8bff5]"></i></td>
        </tr>

    </table>
</div>