<!-- <p>main-dashboard works!</p> -->

<div class="container-scroller">
    <div class="page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title"> Basic Tables </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card pb-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Orders On Days</h4>
                                <p class="card-description"> Add class <code>.table-hover</code>
                                </p>
                                <!-- days -->
                                <table class="charts-css line show-labels show-primary-axis show-data-axes"
                                    id="my-chart">

                                    <tbody>
                                        <tr>
                                            <th scope="row"> Sun </th>
                                            <td style="--start: 0.0; --size: 0.2"> <span class="data"> $ 20K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Mon </th>
                                            <td style="--start: 0.2; --size: 0.2"> <span class="data"> $ 20K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Tue </th>
                                            <td style="--start: 0.2; --size: 0.6"> <span class="data"> $ 60K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Wen </th>
                                            <td style="--start: 0.6; --size: 0.4"> <span class="data"> $ 40K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Thu </th>
                                            <td style="--start: 0.4; --size: 0.8"> <span class="data"> $ 80K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Fri </th>
                                            <td style="--start: 0.8; --size: 0.6"> <span class="data"> $ 60K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Sat</th>
                                            <td style="--start: 0.6; --size: 1.0"> <span class="data"> $ 100K </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Product</th>
                                            <th>Sale</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Photoshop</td>
                                            <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                                            <td><label class="badge badge-danger">Pending</label></td>
                                        </tr>
                                        <tr>
                                            <td>Messsy</td>
                                            <td>Flash</td>
                                            <td class="text-danger"> 21.06% <i class="mdi mdi-arrow-down"></i></td>
                                            <td><label class="badge badge-warning">In progress</label></td>
                                        </tr>
                                        <tr>
                                            <td>John</td>
                                            <td>Premier</td>
                                            <td class="text-danger"> 35.00% <i class="mdi mdi-arrow-down"></i></td>
                                            <td><label class="badge badge-info">Fixed</label></td>
                                        </tr>
                                        <tr>
                                            <td>Peter</td>
                                            <td>After effects</td>
                                            <td class="text-success"> 82.00% <i class="mdi mdi-arrow-up"></i></td>
                                            <td><label class="badge badge-success">Completed</label></td>
                                        </tr>
                                        <tr>
                                            <td>Dave</td>
                                            <td>53275535</td>
                                            <td class="text-success"> 98.05% <i class="mdi mdi-arrow-up"></i></td>
                                            <td><label class="badge badge-warning">In progress</label></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card pb-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Orders On Monthes</h4>
                                <p class="card-description"> Add class <code>.table-hover</code>
                                </p>
                                <!-- monthes -->
                                <table
                                    class="charts-css column show-labels show-primary-axis max-w-4xl h-[200px] max-w-2xl">
                                    <tbody id="motion-effect">
                                        <tr>
                                            <th scope="row"> Jan </th>
                                            <td style="--size: calc( {{sq}} )">
                                                <div class="data">
                                                    $40K
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Feb</th>
                                            <td style="--size: calc( 60/100 )">
                                                <div class="data">
                                                    $60K
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Mar</th>
                                            <td style="--size: calc( 75 / 100 )">
                                                <div class="data">
                                                    $75K
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Apr</th>
                                            <td style="--size: calc( 90 / 100 )">
                                                <div class="data">
                                                    $90K
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> May</th>
                                            <td style="--size: calc( 100 / 100 )">
                                                <div class="data">
                                                    $100K
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Jun</th>
                                            <td style="--size: calc( 50 / 100 )">
                                                <div class="data">
                                                    $50k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Jul</th>
                                            <td style="--size: calc( 45 / 100 )">
                                                <div class="data">
                                                    $45k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Aug</th>
                                            <td style="--size: calc( 90 / 100 )">
                                                <div class="data">
                                                    $90k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Sep</th>
                                            <td style="--size: calc( 30 / 100 )">
                                                <div class="data">
                                                    $30k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Oct</th>
                                            <td style="--size: calc( 60 / 100 )">
                                                <div class="data">
                                                    $60k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Nov</th>
                                            <td style="--size: calc( 75 / 100 )">
                                                <div class="data">
                                                    $75k
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"> Dec</th>
                                            <td style="--size: calc( 70 / 100 )">
                                                <div class="data">
                                                    $70k
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card m-auto pb-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Orders On Years</h4>
                                <p class="card-description"> Add class <code>.table-striped</code>
                                </p>
                                <!-- years -->
                                <table class="charts-css area" id="my-chart">
                                    <tbody>
                                        <tr>
                                            <td style="--start: 0.2; --size: 0.4"> <span class="data"> $ 40K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="--start: 0.4; --size: 0.8"> <span class="data"> $ 80K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="--start: 0.8; --size: 0.6"> <span class="data"> $ 60K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="--start: 0.6; --size: 1.0"> <span class="data"> $ 100K </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="--start: 1.0; --size: 0.3"> <span class="data"> $ 30K </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Striped Table</h4>
                                <p class="card-description"> Add class <code>.table-striped</code>
                                </p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> User </th>
                                            <th> First name </th>
                                            <th> Progress </th>
                                            <th> Amount </th>
                                            <th> Deadline </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                                            </td>
                                            <td> Herman Beck </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image" />
                                            </td>
                                            <td> Messsy Adam </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $245.30 </td>
                                            <td> July 1, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image" />
                                            </td>
                                            <td> John Richards </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $138.00 </td>
                                            <td> Apr 12, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-4.png" alt="image" />
                                            </td>
                                            <td> Peter Meggik </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                                            </td>
                                            <td> Edward </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 160.25 </td>
                                            <td> May 03, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image" />
                                            </td>
                                            <td> John Doe </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 123.21 </td>
                                            <td> April 05, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image" />
                                            </td>
                                            <td> Henry Tom </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 150.00 </td>
                                            <td> June 16, 2015 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bordered table</h4>
                                <p class="card-description"> Add class <code>.table-bordered</code>
                                </p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> First name </th>
                                            <th> Progress </th>
                                            <th> Amount </th>
                                            <th> Deadline </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Herman Beck </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 2 </td>
                                            <td> Messsy Adam </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $245.30 </td>
                                            <td> July 1, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 3 </td>
                                            <td> John Richards </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $138.00 </td>
                                            <td> Apr 12, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 4 </td>
                                            <td> Peter Meggik </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 5 </td>
                                            <td> Edward </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: 35%" aria-valuenow="35" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 160.25 </td>
                                            <td> May 03, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 6 </td>
                                            <td> John Doe </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 123.21 </td>
                                            <td> April 05, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 7 </td>
                                            <td> Henry Tom </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                        style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td> $ 150.00 </td>
                                            <td> June 16, 2015 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Inverse table</h4>
                                <p class="card-description"> Add class <code>.table-dark</code>
                                </p>
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> First name </th>
                                            <th> Amount </th>
                                            <th> Deadline </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Herman Beck </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 2 </td>
                                            <td> Messsy Adam </td>
                                            <td> $245.30 </td>
                                            <td> July 1, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 3 </td>
                                            <td> John Richards </td>
                                            <td> $138.00 </td>
                                            <td> Apr 12, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 4 </td>
                                            <td> Peter Meggik </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 5 </td>
                                            <td> Edward </td>
                                            <td> $ 160.25 </td>
                                            <td> May 03, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 6 </td>
                                            <td> John Doe </td>
                                            <td> $ 123.21 </td>
                                            <td> April 05, 2015 </td>
                                        </tr>
                                        <tr>
                                            <td> 7 </td>
                                            <td> Henry Tom </td>
                                            <td> $ 150.00 </td>
                                            <td> June 16, 2015 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Table with contextual classes</h4>
                                <p class="card-description"> Add class
                                </p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> First name </th>
                                            <th> Product </th>
                                            <th> Amount </th>
                                            <th> Deadline </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-info">
                                            <td> 1 </td>
                                            <td> Herman Beck </td>
                                            <td> Photoshop </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr class="table-warning">
                                            <td> 2 </td>
                                            <td> Messsy Adam </td>
                                            <td> Flash </td>
                                            <td> $245.30 </td>
                                            <td> July 1, 2015 </td>
                                        </tr>
                                        <tr class="table-danger">
                                            <td> 3 </td>
                                            <td> John Richards </td>
                                            <td> Premeire </td>
                                            <td> $138.00 </td>
                                            <td> Apr 12, 2015 </td>
                                        </tr>
                                        <tr class="table-success">
                                            <td> 4 </td>
                                            <td> Peter Meggik </td>
                                            <td> After effects </td>
                                            <td> $ 77.99 </td>
                                            <td> May 15, 2015 </td>
                                        </tr>
                                        <tr class="table-primary">
                                            <td> 5 </td>
                                            <td> Edward </td>
                                            <td> Illustrator </td>
                                            <td> $ 160.25 </td>
                                            <td> May 03, 2015 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright ©
                        bootstrapdash.com 2021</span>
                    <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a
                            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap
                            admin template</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>