<div class="container-scroller content-wrapper">
    <div class="page-body-wrapper">
        <div class="main-panel lg:py-6 ">
            <div class="page-header">
                <h3 class="page-title"> Basic Tables </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card pb-6 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Orders On Days</h4>
                            <p class="card-description"> Add class <code>.chart</code>
                            </p>
                            <!-- days -->
                            <!--  area charts > spine -->
                            <div id="chart">
                                <apx-chart [series]="spineChart.series!" [chart]="spineChart.chart!"
                                    [stroke]="spineChart.stroke!" [xaxis]="spineChart.xaxis!"
                                    [tooltip]="spineChart.tooltip!" [dataLabels]="spineChart.dataLabels!">
                                </apx-chart>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card pb-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Orders On Monthes</h4>
                            <p class="card-description"> Add class <code>.chart3</code>
                            </p>
                            <!-- monthes -->
                            <!-- Angular Chart Demos > Column Charts > Distributed Columns -->
                            <div id="chart3">
                                <apx-chart [series]="columnChart.series!" [chart]="columnChart.chart!"
                                    [dataLabels]="columnChart.dataLabels!" [plotOptions]="columnChart.plotOptions!"
                                    [yaxis]="columnChart.yaxis!" [xaxis]="columnChart.xaxis!"
                                    [legend]="columnChart.legend!" [colors]="columnChart.colors!"
                                    [grid]="columnChart.grid!"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card pb-6 ">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Orders On Days</h4>
                            <p class="card-description"> Add class <code>.chart2</code>
                            </p>
                            <!-- days -->
                            <!-- Angular Chart Demos > RadialBar Charts > Gradient -->
                            <div id="chart2">
                                <apx-chart [series]="radialChart.series!" [chart]="radialChart.chart!"
                                    [labels]="radialChart.labels!" [stroke]="radialChart.stroke!"
                                    [plotOptions]="radialChart.plotOptions!" [fill]="radialChart.fill!"
                                    [responsive]="radialChart.responsive!"></apx-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card pb-6">
                    <div class="card">
                        <div class="card-body h-[412px]">
                            <h4 class="card-title">Orders On Monthes</h4>
                            <p class="card-description"> Add class <code>.chart1</code>
                            </p>
                            <!-- monthes -->
                            <!-- pie charts > simple pie -->
                            <div class="mx-auto">
                                <div id="chart1">
                                    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                                        [labels]="chartOptions.labels!" [responsive]="chartOptions.responsive!">
                                    </apx-chart>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>