<div class="content-wrapper">

    <div class="flex items-center justify-between w-full container mb-12">
        <div class="lg:text-4xl sm:text-lg font-extrabold text-[#74b9af]">
            provider details
        </div>
        <div>
            <button type="button" class="ml-4 btn btn btn-light customBg" routerLink="/protected/providers">
                <i class="fa-solid fa-angle-left mr-2"></i>
                Back</button>
        </div>
    </div>
    <!-- <div class="flex items-center justify-between w-full container mb-12 pt-6">
        <div class="text-4xl font-extrabold text-[#2eb772]">
            provider details
        </div>
        <div class="mr-[200px]">
            <button routerLink="/protected/providers" class="btn btn-light customBg">Back</button>
        </div>
    </div> -->
    <div
        class="flex items-center text-center justify-center z-10 sticky top-0 gap-10 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
        <div class=" cursor-pointer active" routerLink="../{{id}}/{{id}}/mangeInfo">
            Manage Info
        </div>
        <div class=" cursor-pointer" routerLink="../{{id}}/services/{{id}}">Services</div>
        <div class=" hidden md:block cursor-pointer" routerLink="../{{id}}/accounting">Accounting/Order</div>
        <div class=" hidden md:block cursor-pointer" routerLink="../{{id}}/zoons">Zoons</div>
    </div>
    
    <router-outlet></router-outlet>
</div>
