
.navbar-brand {
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 3.5rem;
    white-space: nowrap;
    float: none;
    margin-right: 0;
}

.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 112px auto 112px;
    }

    @screen md {
        grid-template-columns: 112px 48px 48px ;
    }

    @screen lg {
        grid-template-columns: 112px 48px  48px ;
    }
}

.customContainer {
    max-width: 690px;
    margin: auto auto 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}
.grid-template{
    grid-template-columns: auto auto auto auto;
}
.grid-container{
    grid-template-columns: auto auto auto;
}

.list-group {
    flex-direction: row;
    --bs-list-group-bg: inherit;
    /* --bs-list-group-color: white; */
    --bs-list-group-border-width: 0px;
    --bs-list-group-item-padding-x: 0rem;
    --bs-list-group-item-padding-y: 0rem;
    --bs-list-group-active-bg: #f2edf3;
    --bs-list-group-active-color: #d51d4f;

}
.list-group-item {
    border-radius: 9px;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    font-size: 18px;
    padding: 2px 10px;   
}