.navbar-brand {
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 3.5rem;
    white-space: nowrap;
    float: none;
    margin-right: 0;
}

.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 0px 112px auto 112px 69px 0px;
    }
}

.customContainer {
    max-width: 690px;
    margin: auto auto 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}
.grid-template{
    grid-template-columns: auto auto auto auto;
}
.grid-container{
    grid-template-columns: auto auto auto;
}