<div class="bg-homeIntro p-0 h-[800px] grid w-full relative bg-no-repeat z-0 bg-contain bg-bottom pb-40 md:pb-[20%]">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-left mb-2">
                        <h1 class="login mb-1 text-purple-600">Sign up</h1>
                        <h6 class="font-medium">Register Your self!
                        </h6>
                    </div>
                    <form>
                        <!-- full name -->
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input type="text" placeholder="full name"  class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- mobile number -->
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mopile Number</label>
                            <input type="number" placeholder="mopile number" class="form-control" id="exampleInputPassword1">
                        </div>
                        <!-- email address -->
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label ">Email address</label>
                            <input type="email"  placeholder="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <!-- password -->
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password"  placeholder="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit"
                            class="inline-block px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-5 uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out w-full ">
                            signup</button>
                            <h6 class="">Already registerd?
                                <a routerLink="/login" class="text-purple-400">login</a>
                            </h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>