<div class="flex items-center justify-between w-full container mb-12 pt-6">
    <div class="text-4xl font-extrabold text-[#58c5b6]">
        All Services
    </div>
    <div class="mr-[200px]">
        <button type="button" class="ml-4 btn btn-light customBg " (click)="addServiceDiv()">Add</button>
    </div>
</div>
<div class="grid">
    <div
        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
        <div class="hidden md:block"></div>
        <div class="hidden md:block">
            ID
        </div>
        <div>Name</div>
        <div></div>
        <div>Details</div>
        <div class="hidden md:block"></div>
    </div>
    <div *ngIf="isAddService" class=" items-center py-3 px-6 md:px-8">
        <form action="" class="border-b" [formGroup]="addServicesForm" (ngSubmit)="addServices()"
            enctype="multipart/form-data">
            <div class="grid grid-container grid-template  w-full p-1 justify-center mt-7 mx-auto mb-1">

                <div class="form-floating m-1 grid-item">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <label for="floatingInputGrid">Name</label>
                </div>
                <div class="form-floating m-1 grid-item ">
                    <input type="text" class="form-control" placeholder="Email" formControlName="content">
                    <label for="floatingInputGrid">content</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="number" class="form-control" placeholder="phone" formControlName="price">
                    <label for="floatingInputGrid">price</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="number" class="form-control" placeholder="description" formControlName="category_id">
                    <label for="floatingInputGrid">category_id</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="number" class="form-control" placeholder="description" formControlName="supplier_id">
                    <label for="floatingInputGrid">supplier_id</label>
                </div>
                <div class=" m-1 grid-item">
                    <input type="file" #file class="form-control" placeholder="cover"
                        (change)="onFileChange($event,'image')">
                </div>
            </div>
            <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                <button type="submit" [disabled]="!addServicesForm.valid"
                    class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-36">Add
                    Services</button>
            </div>
        </form>
    </div>
    <!-- ngFor -->
    <div *ngIf="services">
        <div *ngFor="let service of services; let i = index">
            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                <div class="hidden md:block"></div>
                <div class="items-center hidden md:block">
                    {{service.id}}
                </div>
                <div class="flex items-center">
                    {{service.name}}
                </div>
                <div>
                </div>
                <div class="flex items-center">
                    <!-- Details button -->
                    <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="details(service.id)">
                        <i class="fas fa-angle-down cursor-pointer" *ngIf="!isShown[service.id]"></i>
                        <i class="fas fa-angle-up cursor-pointer" *ngIf="isShown[service.id]"></i>
                    </div>
                </div>
                <div class="hidden md:block">
                </div>
            </div>
            <div *ngIf="isShown[service.id]">
                <form action="" class="border-b">
                    <div class="flex w-ful p-1 justify-center mt-7 mx-auto mb-1 items-center">
                        <div class="form-floating m-1 w-20">
                            <img src="{{basicUrl}}/{{service.image}}" alt="">
                        </div>
                        <div class="form-floating m-1">
                            <input type="number" class="form-control out" id="floatingInputGrid" placeholder="Id"
                                value="{{service.id}}">
                            <label for="floatingInputGrid">Id</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{service.name}}">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1 w-1/4">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="content"
                                value="{{service.content}}">
                            <label for="floatingInputGrid">content</label>
                        </div>
                        <div class="form-floating m-1 ">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="price"
                                value="{{service.price}}">
                            <label for="floatingInputGrid">price</label>
                        </div>
                        <div class="form-floating m-1 ">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="supplier"
                                value="{{service.supplier}}">
                            <label for="floatingInputGrid">supplier</label>
                        </div>
                        <div class="form-floating m-1 ">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="catigory id"
                                value="{{services[i].category.id}}">
                            <label for="floatingInputGrid">catigory id</label>
                        </div>
                        <div class="form-floating m-1 ">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="catigory name"
                                value="{{services[i].category.name}}">
                            <label for="floatingInputGrid">catigory name</label>
                        </div>
                        <div class="form-floating m-1 ">
                            <div class="form-floating m-1 w-20">
                                <img src="{{basicUrl}}/{{services[i].category.image}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between customContainer  px-4 py-2 ">
                        <!-- <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 "
                            (click)="deleteSer(service.id)">Delete</button> -->
                        <!-- Button trigger modal -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700"
                            data-toggle="modal" data-target="#exampleModal">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure! you want to delete {{service.name}} service?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                            class="btn border border-white hover:bg-[#5c636a] bg-[#90949b]"
                                            data-dismiss="modal">Close</button>
                                        <button type="button"
                                            class="btn border border-white text-white  bg-red-600 hover:bg-red-700 "
                                            (click)="deleteSer(service.id)" data-dismiss="modal">Delete</button>
                                        <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 " (click)="delete(supplier.id)">Delete</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>