<div class="flex items-center justify-between w-full container mb-12">
    <div class="text-4xl font-extrabold text-[#385848] ">
        All Users
    </div>
    <div class="mr-[200px]">
        <button type="button" class="ml-4 btn btn-light" (click)="addUserDiv()">Add</button>
    </div>
</div>
<div class="grid">
    <div
        class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
        <div class="hidden md:block"></div>
        <div class="hidden md:block">
            ID
        </div>
        <div>Name</div>
        <div>Orders</div>
        <div>Details</div>
        <div class="hidden md:block">Addresses</div>
    </div>
    <div *ngIf="isAddUser" class=" items-center py-3 px-6 md:px-8">
        <form action="" class="border-b" [formGroup]="addUsersForm" (ngSubmit)="addUsers()" enctype="multipart/form-data">
            <div class="grid grid-container grid-template  w-full p-1 justify-center mt-7 mx-auto mb-1">
                <div class="form-floating m-1 grid-item">
                    <input type="text" class="form-control" placeholder="Name" formControlName="name">
                    <label for="floatingInputGrid">Name</label>
                </div>
                <div class="form-floating m-1 grid-item ">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                    <label for="floatingInputGrid">Email</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="password" class="form-control out" placeholder="password" formControlName="password">
                    <label for="floatingInputGrid">password</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="password" class="form-control out" placeholder="password" formControlName="password_confirmation">
                    <label for="floatingInputGrid">password confirmation</label>
                </div>
                <div class="form-floating m-1 grid-item">
                    <input type="text" class="form-control" placeholder="phone" formControlName="phone">
                    <label for="floatingInputGrid">phone</label>
                </div>
                <div class=" m-1 grid-item">
                    <label for="floatingInputGrid">image</label>
                    <!-- <input type="file"  #file class="form-control" placeholder="image"  (change)="onFileChange($event)"> -->
                </div>
            </div>
            <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                <button type="submit" [disabled]="!addUsersForm.valid"
                    class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px] w-36">Add Provider</button>
            </div>
        </form>
    </div>
    <!-- ngFor -->
    <div *ngIf="users">
        <div *ngFor="let user of users">
            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                <div class="hidden md:block"></div>
                <div class="items-center hidden md:block">
                    {{user.id}}
                </div>
                <div class="flex items-center">
                    {{user.name}}
                </div>
                <div class="flex items-center">
                    <!-- Details button -->
                    <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="OrdersDetails(user.id)">
                        <i class="fas fa-angle-down cursor-pointer" *ngIf="!isOrderShown[user.id]"></i>
                        <i class="fas fa-angle-up cursor-pointer" *ngIf="isOrderShown[user.id]"></i>                        
                    </div>
                </div>
                <div class="flex items-center">
                    <!-- Details button -->
                    <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="details(user.id)">
                        <i class="fas fa-angle-down cursor-pointer" *ngIf="!isShown[user.id]"></i>
                        <i class="fas fa-angle-up cursor-pointer" *ngIf="isShown[user.id]"></i>                        
                    </div>
                </div>
                <div class="flex items-center">
                    <!-- Details button -->
                    <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="AddressesDetails(user.id)">
                        <i class="fas fa-angle-down cursor-pointer" *ngIf="!isAddressesShown[user.id]"></i>
                        <i class="fas fa-angle-up cursor-pointer" *ngIf="isAddressesShown[user.id]"></i>                        
                    </div>
                </div>
            </div>
            <div *ngIf="isShown[user.id]">
                <div class="text-center mt-2 text-lg"> Details  </div>
                <form action="" class="border-b">
                    <div class="flex w-ful p-1 justify-center mt-7 mx-auto mb-1">
                        <div class="form-floating m-1">
                            <input type="number" class="form-control out" id="floatingInputGrid" placeholder="Id"
                                value="{{user.id}}">
                            <label for="floatingInputGrid">Id</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.name}}">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Email"
                                value="{{user.email}}">
                            <label for="floatingInputGrid">Email</label>
                        </div>
                        <!-- <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.email_verified_at}}">
                            <label for="floatingInputGrid">Email Verified At</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.created_at}}">
                            <label for="floatingInputGrid">Created At</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.updated_at}}">
                            <label for="floatingInputGrid">Updated At</label>
                        </div> -->
                    </div>
                    <div class="flex items-center justify-between customContainer  px-4 py-2 ">
                        <button type="button" class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px]" (click)="edit(user.id)">Edit</button>
                        <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 " (click)="delete(user.id)">Delete</button>
                    </div>

                </form>
            </div>
            <!-- Orders details  -->
            <div *ngIf="isOrderShown[user.id]">
                <div class="text-center mt-2 text-lg"> Orders  </div>
                <form action="" class="border-b">
                    <div class="flex w-ful p-1 justify-center mt-7 mx-auto mb-1">
                        <div class="form-floating m-1">
                            <input type="number" class="form-control out" id="floatingInputGrid" placeholder="Id"
                                value="{{user.id}}">
                            <label for="floatingInputGrid">Id</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.name}}">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Email"
                                value="{{user.email}}">
                            <label for="floatingInputGrid">Email</label>
                        </div>
                    </div>
                    <div class="flex items-center justify-between customContainer  px-4 py-2 ">
                        <button type="button" class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px]" (click)="edit(user.id)">Edit</button>
                        <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 " (click)="delete(user.id)">Delete</button>
                    </div>

                </form>
            </div>
            <!-- Addresses details  -->
            <div *ngIf="isAddressesShown[user.id]">
                <div class="text-center mt-2 text-lg"> Addresses  </div>
                <form action="" class="border-b">
                    <div class="flex w-ful p-1 justify-center mt-7 mx-auto mb-1">
                        <div class="form-floating m-1">
                            <input type="number" class="form-control out" id="floatingInputGrid" placeholder="Id"
                                value="{{user.id}}">
                            <label for="floatingInputGrid">Id</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Name"
                                value="{{user.name}}">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Email"
                                value="{{user.email}}">
                            <label for="floatingInputGrid">Email</label>
                        </div>
                    </div>
                    <div class="flex items-center justify-between customContainer  px-4 py-2 ">
                        <button type="button" class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-[68px]" (click)="edit(user.id)">Edit</button>
                        <button type="button" class="btn border border-white text-white  bg-red-600 hover:bg-red-700 " (click)="delete(user.id)">Delete</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>