<div class="content-wrapper">
    <div class="flex items-center justify-between w-full container mb-12 ">
        <div class="head">
            All Users
        </div>
        <div>
            <button type="button" class="ml-4 btn btn btn-light customBg" routerLink="/protected/users/add">Add</button>
        </div>
    </div>
    <div class="grid shadow bg-white">

        <div
            class="inventory-grid z-10 sticky mb-1 top-0 grid gap-4 py-4 px-6 md:px-8 text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
            <div class="hidden md:block">
                ID
            </div>
            <div>Name</div>
            <div class="text-center">details</div>
            <!-- <div class="hidden md:block"></div> -->
            <!-- <div class="hidden md:block">
                ID
            </div>
            <div>Name</div>
            <div class="m-auto ">Details</div>
            <div class="hidden lg:block m-auto"></div>
            <div class="lg:hidden block"></div>
            <div class="hidden lg:block m-auto">Addresses</div> -->
        </div>
        <!-- ngFor -->
        <div *ngIf="users">
            <div *ngFor="let item of users">
                <div class="inventory-grid grid items-center gap-4 py-2 px-6 md:px-8 border-b">

                    <div class="items-center hidden md:block">
                        {{item.id}}
                    </div>
                    <div class="flex items-center">
                        {{item.name}}
                    </div>
                    <div class="items-center flex justify-center">
                        <!-- Details button -->
                        <div class="min-w-10 min-h-7 h-7 px-2 leading-6" (click)="details(item.id)">
                            <i class="fas fa-angle-down cursor-pointer" *ngIf="!isShown[item.id]"></i>
                            <i class="fas fa-angle-up cursor-pointer" *ngIf="isShown[item.id]"></i>
                        </div>
                        <!-- delete icon -->
                        <i class="fa-solid fa-trash-can px-2 deleteIcon" (click)="delete(item.id)"></i>
                    </div>
                </div>

                <div *ngIf="isShown[item.id]">
                    <form action="" class="border-b">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 my-3">
                                    <div class="details">
                                        <img src="{{basicUrl}}/{{item.image}}" alt="user's Image">
                                    </div>
                                </div>
                                <!--  details  -->
                                <div class="col-4 my-3 middle">
                                    <i class="fa-solid fa-user mx-2"></i>
                                    <h2 class="inline-block">user details</h2>
                                    <div class="details">
                                        <span>id </span>: <input type="number" class="customFormControl"
                                            id="floatingInputGrid" placeholder="id" value="{{item.id}}" readonly>
                                    </div>
                                    <div class="details">
                                        <span>name </span>: <input type="text" class="customFormControl"
                                            id="floatingInputGrid" value="{{item.name}}" placeholder="name">

                                    </div>
                                    <div class="details">
                                        <span>last_name </span>: <input type="text" class="customFormControl"
                                            id="floatingInputGrid" value="{{item.last_name}}" placeholder="last_name">
                                    </div>
                                    <div class="details">
                                        <span>phone</span>: <input type="text" class="customFormControl"
                                            id="floatingInputGrid" value="{{item.phone}}" placeholder="phone">
                                    </div>
                                    <div class="details">
                                        <span>email</span>: <input type="text" class="customFormControl"
                                            id="floatingInputGrid" value="{{item.email}}" placeholder="email">
                                    </div>
                                </div>
                                <!-- Addresses details  -->
                                <div class="col-5 my-3">
                                    <div *ngIf="item.address == null">
                                      No Address details
                                    </div>
                                    <div *ngIf="item.address != null">
                                        <i class="fa-solid fa-user mx-2"></i>
                                        <h2 class="inline-block">Address details</h2>
                                        <div class="details">
                                            <span>id </span>: <input type="number" class="customFormControl"
                                                id="floatingInputGrid" placeholder="id" value="{{item.address.id}}"
                                                readonly>
                                        </div>
                                        <div class="details">
                                            <span>name </span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.name}}" placeholder="name">
                                        </div>
                                        <div class="details">
                                            <span>city </span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.city}}" placeholder="city">
                                        </div>
                                        <div class="details">
                                            <span>region</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.region}}"
                                                placeholder="region">
                                        </div>
                                        <div class="details">
                                            <span>street</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.street}}"
                                                placeholder="street">
                                        </div>
                                        <div class="details">
                                            <span>building number</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.building_number}}"
                                                placeholder="building number">
                                        </div>
                                        <div class="details">
                                            <span>floor number</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.floor_number}}"
                                                placeholder="floor_number">
                                        </div>
                                        <div class="details">
                                            <span>apartment number</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.apartment_number}}"
                                                placeholder="apartment number">
                                        </div>
                                        <div class="details">
                                            <span>additional tips</span>: <input type="text" class="customFormControl"
                                                id="floatingInputGrid" value="{{item.address.additional_tips}}"
                                                placeholder="additional tips">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>