select.ml-4.btn.btn-light.customBg {
    width: 89%;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
}

button.btn.border {
    margin: auto;
    background: #90c8ac;
    color: #fff;
    padding: 30px 72px;
    font-weight: bold;
    text-transform: uppercase;
}