.inventory-grid {
    text-align: center;
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: auto 48px;
    }

    @screen md {
        grid-template-columns: 48px 112px 143px 112px 112px auto;
    }

    @screen lg {
        grid-template-columns: 48px 112px 143px 112px 112px auto;
    }
}

.details span {
    color: #43af79;
    // width: 93px;
    display: inline-block;
}
