<div class="content-wrapper">
    <div class="flex justify-between container mb-7">
        <p>Add Provider!</p>
        <button routerLink="/protected/providers" class="btn btn-light customBg">
            <i class="fa-solid fa-angle-left mr-2"></i>
            Back</button>
    </div>
    <div class="row">
        <div class="col-md-6  m-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="card-title">Default form</h4> -->
                    <form action="" class="" [formGroup]="addSuppliersForm" (ngSubmit)="addSuppliers()">
                        <div class="w-full p-1 justify-center mx-auto">
                            <!-- name -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">Name</label>
                                    <!-- name is required -->
                                    <label class="errorLabel" *ngIf="this.addSuppliersForm
                                        .get('name')?.touched && this.addSuppliersForm
                                        .get('name')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        name is required
                                    </label>
                                </div>
                                <input type="text" class="form-control" placeholder="Name" formControlName="name"
                                    [ngClass]="{'border-rose-600': this.addSuppliersForm.get('name')?.touched && this.addSuppliersForm.get('name')?.hasError('required')}">
                            </div>
                            <!-- email -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="exampleInputEmail1" class="">Email</label>
                                    <!-- email is required -->
                                    <label class="errorLabel" *ngIf="this.addSuppliersForm
                                        .get('email')?.touched && this.addSuppliersForm
                                        .get('email')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        email is required
                                    </label>
                                    <!-- must be valid email -->
                                    <label class="errorLabel" *ngIf="this.addSuppliersForm
                                        .get('email')?.touched && this.addSuppliersForm
                                        .get('email')?.hasError('email')">
                                        <i class="fad fa-exclamation"></i>
                                        must be valid email
                                    </label>
                                </div>
                                <input type="email" class="form-control" id="" formControlName="email"
                                    (keydown.space)="$event.preventDefault();" placeholder="email"
                                    [ngClass]="{'border-rose-600': (this.addSuppliersForm.get('email')?.touched && this.addSuppliersForm.get('email')?.hasError('required')) || (this.addSuppliersForm.get('email')?.touched && this.addSuppliersForm.get('email')?.hasError('email')) }">
                                <!-- email didn't take arabic  -->
                                <!-- the ts , Validators.pattern('[a-zA-Z]*') -->
                                <!-- <label class="errorLabel"
                                    *ngIf="this.addSuppliersForm
                                    .get('email')?.touched && this.addSuppliersForm
                                    .get('email')?.hasError('pattern')">
                                    <i class="fad fa-exclamation"></i>
                                    email didn't take arabic
                                </label> -->
                            </div>
                            <!-- password -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">Password</label>
                                    <!-- Password is required -->
                                    <label class="errorLabel"
                                        *ngIf="this.addSuppliersForm.get('password')?.touched && this.addSuppliersForm.get('password')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        Password is required
                                    </label>
                                </div>
                                <input type="password" class="form-control out" placeholder="password"
                                    formControlName="password"
                                    [ngClass]="{'border-rose-600': this.addSuppliersForm.get('password')?.touched && this.addSuppliersForm.get('password')?.hasError('required')}">
                            </div>
                            <!-- password_confirmation -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">confirm password</label>
                                    <!-- password_confirmation is required -->
                                    <label class="errorLabel"
                                        *ngIf="this.addSuppliersForm.get('password_confirmation')?.touched && this.addSuppliersForm.get('password_confirmation')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        confirm password is required
                                    </label>
                                </div>
                                <input type="password" class="form-control out" placeholder="confirm password"
                                    formControlName="password_confirmation"
                                    [ngClass]="{'border-rose-600': this.addSuppliersForm.get('password_confirmation')?.touched && this.addSuppliersForm.get('password_confirmation')?.hasError('required')}">
                            </div>
                            <label class="errorLabel" *ngIf="passwordMatchError">
                                <i class="fad fa-exclamation"></i>
                                Password does not match
                            </label>

                            <!-- phone -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="exampleInputEmail1" class="">phone</label>
                                    <!-- phone is required -->
                                    <label class="errorLabel" *ngIf="this.addSuppliersForm
                                        .get('phone')?.touched && this.addSuppliersForm
                                        .get('phone')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        phone is required
                                    </label>
                                    <!-- must be valid phone -->
                                    <label class="errorLabel"
                                        *ngIf="this.addSuppliersForm
                                        .get('phone')?.touched && this.addSuppliersForm.get('phone')?.value?.length !=10">
                                        <i class="fad fa-exclamation"></i>
                                        phone must be 10 numbers
                                    </label>
                                </div>
                                <input type="text" placeholder="077-777-7778" class="form-control"
                                    (input)="onInput($event)" minlength="10" maxlength="10" formControlName="phone"
                                    [ngClass]="{'border-rose-600': this.addSuppliersForm.get('phone')?.touched && this.addSuppliersForm.get('phone')?.hasError('required') || 
                                    this.addSuppliersForm.get('phone')?.touched && this.addSuppliersForm.get('phone')?.hasError('minlength')}">
                            </div>

                            <!-- description -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">description</label>
                                </div>
                                <input type="text" class="form-control" placeholder="description"
                                    formControlName="description">
                            </div>
                            <!-- image -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">image</label>

                                    <label class="errorLabel"
                                        *ngIf="this.addSuppliersForm.get('image')?.touched && this.addSuppliersForm.get('image')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        image is required
                                    </label>
                                </div>
                                <input type="file" #file class="form-control" placeholder="image"
                                    (change)="onFileChange($event,'image')"
                                    accept="image/png, image/gif, image/jpeg , image/PNG, image/GIF , image/JPEG">
                            </div>
                            <!-- cover image -->
                            <div class="mb-1">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">cover</label>

                                    <label class="errorLabel"
                                        *ngIf="this.addSuppliersForm.get('cover')?.touched && this.addSuppliersForm.get('cover')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        cover is required
                                    </label>
                                </div>
                                <input type="file" #file class="form-control" placeholder="cover"
                                    (change)="onFileChange($event,'cover')">
                            </div>
                            <!-- location -->
                            <!-- map  start-->
                            <div class="mt-3">
                                <!-- app.component.html -->
                                <div>
                                    <div class="flex items-center mb-1">
                                        <label for="floatingInputGrid" class="mr-2">location /</label>
                                        <label for="floatingInputGrid" class="text-[#585b60] text-sm">double click to
                                            add location</label>
                                    </div>
                                    <input type="text" class="my-search-box form-control"
                                        (keydown.enter)="$event.preventDefault()" placeholder="Search Location"
                                        type="text" #search />
                                </div>

                                <google-map #myGoogleMap height="500px" width="100%" [center]="center"
                                    [options]="options" (mapClick)="eventHandler($event,'mapClick')"
                                    (mapDblclick)="eventHandler($event,'mapDblclick')">
                                    <!--  (mapDrag)="eventHandler($event,'mapDrag')"
    (mapDragend)="eventHandler($event,'mapDragend')"
    (mapRightclick)="eventHandler($event,'mapRightclick')"
    (positionChanged)="eventHandler($event,'marker_positionChanged')"
    (zoomChanged)="eventHandler($event,'zoomChanged')"
    
  -->
                                    <map-marker #markerElem="mapMarker" *ngFor="let marker of markers"
                                        [position]="marker.position" [label]="marker.label" [title]="marker.title"
                                        [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">

                                    </map-marker>

                                    <map-info-window>{{ infoContent }}</map-info-window>
                                </google-map>
                            </div>
                            <button placeholder="loc" type="button"
                                class="px-1 py-1 mt-1 text-sm text-[#78909c] border border-[#a0c1f8] rounded cursor-pointer"
                                (click)="getMyLoc()">get my location</button>
                            <!-- map  end-->
                            <!-- from / to / delivery fees -->
                            <div formArrayName="groups">
                                <div *ngFor="let item of getGroupsControls(); let i = index" class="gp-card">
                                    <div class="gp-card-heading">
                                        <span>Group {{ i + 1 }}</span>
                                        <a class="gb-close" *ngIf="getGroupsControlsLenght()" (click)="removegroup(i)"
                                            style="cursor: default; float: right">
                                            X
                                        </a>
                                    </div>
                                    <div class="gp-card-body" [formGroupName]="i" class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-4">
                                                <label>from</label>
                                                <input type="text" class="form-control" formControlName="from" placeholder="1Km" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>to</label>
                                                <input type="text" class="form-control" formControlName="to" placeholder="2Km" />
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>delivery fees</label>
                                                <input type="text" class="form-control" formControlName="delivery_fees" placeholder="0jd"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-20 new">
                                <a (click)="addgroup()" style=" float: right">
                                    + Group
                                </a>
                            </div>
                        </div>
                        <div class="flex items-center justify-center customContainer  px-4 mt-2 ">
                            <!-- <button type="submit" class="addNew" data-toggle="modal" data-target="#exampleModal">Add
                                Provider</button> -->
                            <button *ngIf="!addSuppliersForm.valid" type="submit" class="addNew cursorNotAllowed">Add
                                Provider</button>
                            <button *ngIf="addSuppliersForm.valid" type="submit" class="addNew cursor-pointer">
                                Add Provider</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <pre>
        {{resss | json}}
    </pre>
</div>