<div class="content-wrapper">
    <div class="flex justify-between container mb-7">
        <p>Add Provider!</p>
        <button routerLink="/protected/providers" class="btn btn-light customBg">Back</button>
    </div>
    <div class="row">
        <div class="col-md-6  m-auto grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="card-title">Default form</h4> -->
                    <form action="" class="" [formGroup]="addSuppliersForm" (ngSubmit)="addSuppliers()">
                        <div class="  w-full p-1 justify-center mt-7 mx-auto mb-1">
                            <!-- name -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">Name</label>
                                    <!-- name is required -->
                                    <label class="text-rose-600" *ngIf="this.addSuppliersForm
                                        .get('name')?.touched && this.addSuppliersForm
                                        .get('name')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        name is required
                                    </label>
                                </div>
                                <input type="text" class="form-control" placeholder="Name" formControlName="name">
                            </div>
                            <!-- email -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="exampleInputEmail1" class="">Email</label>
                                    <!-- email is required -->
                                    <label class="text-rose-600" *ngIf="this.addSuppliersForm
                                        .get('email')?.touched && this.addSuppliersForm
                                        .get('email')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        email is required
                                    </label>
                                    <!-- must be valid email -->
                                    <label class="text-rose-600" *ngIf="this.addSuppliersForm
                                        .get('email')?.touched && this.addSuppliersForm
                                        .get('email')?.hasError('email')">
                                        <i class="fad fa-exclamation"></i>
                                        must be valid email
                                    </label>
                                </div>
                                <input type="email" class="form-control" id="" formControlName="email"
                                    (keydown.space)="$event.preventDefault();" placeholder="email">
                                <!-- email didn't take arabic  -->
                                <!-- the ts , Validators.pattern('[a-zA-Z]*') -->
                                <!-- <label class="text-rose-600"
                                    *ngIf="this.addSuppliersForm
                                    .get('email')?.touched && this.addSuppliersForm
                                    .get('email')?.hasError('pattern')">
                                    <i class="fad fa-exclamation"></i>
                                    email didn't take arabic
                                </label> -->
                            </div>
                            <!-- password -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">Password</label>
                                    <!-- Password is required -->
                                    <label class="text-rose-600"
                                        *ngIf="this.addSuppliersForm.get('password')?.touched && this.addSuppliersForm.get('password')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        Password is required
                                    </label>
                                </div>
                                <input type="password" class="form-control out" placeholder="password"
                                    formControlName="password">
                            </div>
                            <!-- phone -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">phone</label>
                                    <!-- phone is required -->
                                    <label class="text-rose-600"
                                        *ngIf="this.addSuppliersForm.get('phone')?.touched && this.addSuppliersForm.get('phone')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        phone is required
                                    </label>
                                </div>
                                <input type="number" class="form-control" placeholder="phone" formControlName="phone">
                            </div>
                            <!-- description -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">description</label>
                                </div>
                                <input type="text" class="form-control" placeholder="description"
                                    formControlName="description">
                            </div>
                            <!-- location -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">location</label>
                                </div>
                                <input type="" class="form-control" placeholder="location" formControlName="location">
                            </div>
                            <!-- image -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">image</label>
                                    <!-- phone is required -->
                                    <label class="text-rose-600"
                                        *ngIf="this.addSuppliersForm.get('image')?.touched && this.addSuppliersForm.get('image')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        image is required
                                    </label>
                                </div>
                                <input type="file" #file class="form-control" placeholder="image"
                                    (change)="onFileChange($event,'image')" formControlName="image">
                            </div>
                            <!-- cover image -->
                            <div class="mb-3">
                                <div class="flex justify-between mb-1">
                                    <label for="floatingInputGrid">cover</label>
                                    <!-- phone is required -->
                                    <label class="text-rose-600"
                                        *ngIf="this.addSuppliersForm.get('cover')?.touched && this.addSuppliersForm.get('cover')?.hasError('required')">
                                        <i class="fad fa-exclamation"></i>
                                        cover is required
                                    </label>
                                </div>
                                <input type="file" #file class="form-control" placeholder="cover"
                                    (change)="onFileChange($event,'cover')" formControlName="cover">
                            </div>
                        </div>
                        <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                            <button type="submit" [disabled]="!addSuppliersForm.valid" class="addNew"
                                data-toggle="modal" data-target="#exampleModal">Add
                                Provider</button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {{resMsg}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                class="btn border transition ease-in-out border-white text-white  bg-[#90c8ac] hover:bg-[#76a38d]"
                                                data-dismiss="modal" (click)="deleteForm()">
                                                Ok
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>