<div class="flex justify-between container mb-7"> 
    <p>Add Provider!</p>
<button routerLink="/protected/providers" class="btn btn-light customBg">Back</button>
</div>
<div class="row">
    <div class="col-md-6  m-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <form action="" class="" [formGroup]="addSuppliersForm" (ngSubmit)="addSuppliers()">
                    <div class="  w-full p-1 justify-center mt-7 mx-auto mb-1">
                        <div class="form-floating m-1 grid-item">
                            <input type="text" class="form-control" placeholder="Name" formControlName="name">
                            <label for="floatingInputGrid">Name</label>
                        </div>
                        <div class="form-floating m-1 grid-item ">
                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                            <label for="floatingInputGrid">Email</label>
                        </div>
                        <div class="form-floating m-1 grid-item">
                            <input type="password" class="form-control out" placeholder="password"
                                formControlName="password">
                            <label for="floatingInputGrid">Password</label>
                        </div>
                        <div class="form-floating m-1 grid-item">
                            <input type="text" class="form-control" placeholder="phone" formControlName="phone">
                            <label for="floatingInputGrid">phone</label>
                        </div>
                        <div class="form-floating m-1 grid-item">
                            <input type="text" class="form-control" placeholder="description"
                                formControlName="description">
                            <label for="floatingInputGrid">description</label>
                        </div>
                        <div class="form-floating m-1 grid-item">
                            <input type="" class="form-control" placeholder="location" formControlName="location">
                            <label for="floatingInputGrid">location</label>
                        </div>
                        <div class=" m-1 grid-item">
                            <label for="floatingInputGrid">image</label>
                            <input type="file" #file class="form-control" placeholder="image"
                                (change)="onFileChange($event,'image')">
                        </div>
                        <div class=" m-1 grid-item">
                            <label for="floatingInputGrid">cover</label>
                            <input type="file" #file class="form-control" placeholder="cover"
                                (change)="onFileChange($event,'cover')">
                        </div>
                    </div>
                    <div class="flex items-center justify-center customContainer  px-4 py-2 ">
                        <button type="submit" [disabled]="!addSuppliersForm.valid"
                            class="btn border border-white text-slate-600 bg-[#90c8ac] hover:bg-[#76a38d] w-36">Add
                            Provider</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
