/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/dist/css/bootstrap.min.css';


.main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    // width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.content-wrapper {
    background: #f2edf3;
    padding: 2.75rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card {
    border: 0;
    background: #fff;
}

table {
    overflow: scroll;
}

table th {
    padding-top: 5px;
    padding-bottom: 5px;

}

@media screen and (max-width: 992px) {
    table {
        // overflow-x: scroll;
        max-width: 100%;
        display: block;
    }

    .content-wrapper {
        padding: 1.75rem 1.25rem;
    }
}

.customBg {
    transition: opacity 0.3s ease;
    font-weight: 500;
    // background: linear-gradient(to right, #da8cff, #9a55ff);
    // background: -webkit-gradient(linear, left top, right top, from(#f4933a), to(#90c8ac));
    // background: linear-gradient(to right, #f4933a, #90c8ac);
    background-color: #43af79;
    font-size: 1rem;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: ease-in-out;
}

.customBg:hover,
.customBg:focus,
.customBg:active {
    color: white;
    background-color: #5daa84;
}

.form-check-input:checked {
    background-color: #43af79 !important;
    border-color: #43af79 !important;
}

.addNew {
    padding: 10px 24px;
    border-width: 1px;
    border-color: white;
    background-color: #90c8ac;
    line-height: 1.25rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    transition: ease-in-out;
}

.addNew:hover {
    background-color: #76a38d;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.addNew:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

button:focus {
    outline: none;
}

button[disabled] {
    cursor: not-allowed;
}

.cursorNotAllowed {
    cursor: not-allowed !important;

}

// .form-control{
//     margin-bottom: 10px;
// }
.footer {
    background: #f2edf3;
    color: color(dark);
    border-top: 1px solid #e7dee9;
    padding: 30px 1rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    font-size: calc(0.875rem - 0.05rem);
    font-family: "ubuntu-regular", sans-serif;
}

input[type='number'] {
    -moz-appearance: textfield;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.errorLabel {
    font-size: 14px;
    --tw-text-opacity: 1;
    color: rgb(225 29 72 / var(--tw-text-opacity));
}

input:read-only {
    cursor: default;
    background-color: #e8f0fe !important;
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3) !important;
}

input:focus {
    outline: none;
}

.form-control:focus {
    // border-color:#ced4da ;
    // outline : none ;
    box-shadow: none !important;
}

.tableBorder tr,
.tableBorder th,
.tableBorder td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tableBorder tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.tableBorder th:nth-child(even),
td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

.deleteIcon:hover {
    color: #d51d4f;
    cursor: pointer;
}

.customFormControl:read-only {
    cursor: default;
    background-color: inherit !important;
    border-color: #2a5b5b !important;
    color: #606870;
}

.customFormControl {
    /* display: block; */
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    appearance: none;
    /* border-radius: .375rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-bottom-color: #2a5b5b;
    border-bottom-width: 1px;
}

.head {
    color: #74b9af;
    font-weight: 800;
    font-size: 2.25rem
        /* 36px */
    ;
    line-height: 2.5rem
        /* 40px */
    ;
}

.saveBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(144 200 172);
    border-width: 1px;
    color: rgb(71 85 105);
    border-color: white;
    width: 87px;
}
.saveBtn:hover{
    background-color: #76a38d;
    border-color: white;
    color: rgb(71 85 105);

}
.deleteBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38);
    border-width: 1px;
    color: white;
    width: 87px;
    border-color: white;
}

.deleteBtn:hover {
    --tw-bg-opacity: 1;
    border-color: white;
    color: white;
    background-color: rgb(185 28 28);
}
.middle{
    background-color: #f2edf3 ;
}
.middle input{
    background-color: #f2edf3 ;
}
.details {
    overflow: hidden;
}
.noData {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #dee2e6;
    background-color: #41464b;
    border-radius: 5px;
}
body {
    text-transform: capitalize !important;
}