.items{
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.item{
    background-color: #F4F9F2;
    width: 50%;
    height: auto;
    min-height: 162px;
    margin: 10px;
    border-radius: 37px;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}
.item h2{
   margin-bottom: 5px;
   margin-top: 5px;
}
.item .num{
    color: #73A9AD;
  
}