<!-- <p>provider-finance works! {{providerId}}</p> -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 items">
            <div class="item">
                <h2>
                    No. Orders
                </h2>
                <div class="num">
                    1740
                </div>
            </div>
            <div class="item">
                <h2>
                    Sales
                </h2>
                <div class="num">
                    7893.52
                </div>
                <h2>JOD</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 items">
            <div class="item">
                <h2>
                    Tax
                </h2>
                <div class="num">
                    1262.96
                </div>
            </div>
            <div class="item">
                <h2>
                    BR Percentage
                </h2>
                <h2>
                    10%
                </h2>
                <div class="num">
                    789.35
                </div>
                <h2>JOD</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 items">
            <div class="item">
                <h2>
                    Order Canceld
                </h2>
                <div class="num">
                    12
                </div>
            </div>
            <div class="item">
                <h2>
                    Penalties
                </h2>
                <div class="num">
                    80
                </div>
                <h2>JOD</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 items">
            <div class="item">
                <h2>
                Balance
            </h2>
            <div class="num">
                1689.42
            </div>
        </div>
            <div class="item">
                <h2>
                    Total recipient
                </h2>
                <div class="num">
                    6204.10
                </div>
                <h2>JOD</h2>
            </div>
        </div>
    </div>
</div>